:root {
  --main-color:#02305a;
  background-color: #33042D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234328DD'/%3E%3Cstop offset='1' stop-color='%2333042D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23158BC5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23158BC5' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main{
  margin: 100px auto 0;
  max-width: 80%;
}

button{
  background-color: #3e5c76;
  color: #e7e7dd;
  border-radius: 5px;
  padding: 5px;
  margin: 0 7px ;
  border: none;
}
button:hover{
  background-color: #5688b3
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card{
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
  margin-bottom: 36px;
  border-radius: 15px;
}

.card.card--50{
  margin: 5% 2%;
}

.card .card__title{
  color: var(--background-color);
  background-color: #BFD7EA;
  padding: 10px 20px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card .card__body{
  color: var(--main-color);
  padding:10px 20px;
  margin-top: 8px; 
}

i{
  padding: 10px;
}

.fa-trash-alt{
  color: #ff3860;
}

.fa-pencil-alt{
  color: #23d160;
}

table{
  text-align: center;
  width: 100%;
}
 td{
  border-bottom: rgba(128, 128, 128, 0.397) 1px solid ;
  margin-top: 1px;
}

.container-modal{
  width: 25%;
  margin: 0 auto;
}

.main-modal{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 20px 10px;
}

.header-modal{
  background-color: #BFD7EA;
  color: black;
}

h3{
  padding: 10px 20px;
}

select{
  margin-bottom: 10px;
  margin-top: 5px;
}

#modal-none, #modal-editar, #modal-eliminar{
  display: flex;
  background-color: rgba(0, 0, 0, 0.521);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-none{
  opacity: 0;
  pointer-events:none;
}

.mostrar{
  opacity: 1;
}

.footer-modal{
  background-color: #BFD7EA;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

@media (max-width: 800px){
  main{
    margin: auto;
    max-width: 90%;
  }
  i{
    padding: 5px;
  }
  th, td, p {
    font-size:small;
  }
 
}
@media (max-width: 480px){

  .container{
    flex-direction: column;}

  #card-ventas {
    overflow:scroll;
    border-collapse: collapse;
  }

  .container-modal{
    width: 55%; 
  }

  .main-modal{
    text-align: center;
  }
 /* .tabla-ventas tr{
    border: 1px solid gray;
  }*/

  }
   

   
